body {
    font-family: Arial, sans-serif;
    margin: 0px;
    text-align: center;
  background-image: url("images/home1.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}


.banners-big {
    height: 32%;
    margin-bottom: 0px;
    background-color: RGB(0, 0, 5, 0.46);
    color: white;
    display: flex;
    border: 1px solid #4CAF50;
    flex-direction: column; 
    align-items: center;
    border-radius: 10px;
    font-size: clamp(12px, 1.1vw, 16px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
    padding: 0px;
    z-index: -1;
    position: fixed; 
    bottom: 0; 
    left: -10px; 
    right: -10px;
}


/* Premier div */
.banners-row {
    margin-top: 20%;
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 98%;
    margin-left: 2%;
    height: auto;
    margin-bottom: 2%;
}




.banner {
    height: auto;
    background-color: RGB(56, 70, 75, 0.97);
    color: white;
    display: flex;
    border: 1px solid #4CAF50;
    flex-direction: column; 
    padding-top: 30px;
    align-items: center;
    border-radius: 10px;
    font-size: clamp(8px, 1.1vw, 12px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

.banners-row .banner-1 {
    width: 29%;
}

.banners-row .banner-2 {
    width: 58%;
}

.banners-row .banner-3 {
    width: 37%;
}

.banners-row .banner {
    margin-top: 10px;
    justify-content: center;
    height: 250px;
    line-height: 1.7;
    transition: transform 0.3s ease;
    padding: 15px;
}

.banners-row .banner:hover {
    transform: translateY(-6%); 
}


.banner a:hover {
    scale: 1.02;
}

h2 {
    color: #5ab78b;
    margin-top: 0px;
    padding-bottom: 0px;
    font-size: clamp(18px, 2vw, 24px);
}

p{
    margin-top: -5px;
    align-items: left;
    font-size: clamp(9px, 1.1vw, 14px);
}
nav {
    position: absolute;
    top: 0;
    height: 60px;
    line-height: 60px;
    width: 99%;
    margin-left: -1%;
    background-color: rgba(0, 0, 0, .1);
}

nav a {
    color: #fff;
    text-shadow: #000 1px 0 2px;
    display: inline-block;
    padding: 10px 15px;
    line-height: 1;
    text-decoration: none;
    border-radius: 2px; 
}



.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 30px;
    height: 30px;
    background-color: #333;
    color: #5ab78b;
    border-radius: 50%;
    font-size: 45px;
    text-align: center;
    line-height: 30px;
    padding-bottom: 16px;
    padding-top: 7px;
    padding-left: 11px;
    padding-right: 11px;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    display: none; /* Initialement cachée */
}

.scroll-to-top:hover {
    background-color: #444;
    transform: translateY(-5px); 
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}




/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000e08;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #67b892 ;
;
}


footer {
    position: relative;
    font-size: 14px;
    padding-top: 10px;
    bottom: 0;
    left: 0;
    width: 100%;    
    color: #aabccc;
    padding:px;
    text-align: center;
}


.banner-link {
    text-decoration: none; 
    color: inherit;     
    display: block;     
}
